/* testing connectivity */

.test{
    color: yellow;
}

/* font collection */

.custom-headings-title {
    font-family: 'Sen', sans-serif;
    font-size: 22pt;
}

.custom-headings-footer {
    font-family: 'Sen', sans-serif;
    font-size: 16pt;
}

.custom-headings {
    font-family: 'Sen', sans-serif;
}

.article-body {
    font-family: 'Fira Sans', sans-serif;
}

/* Had a slight problem with some elements hugging the left margin. Developed a small amount of custom css to solve this problem */

.left-margin-clearance {
    padding-left: 20px;
}

.left-margin-clearance-footer {
    padding-left: 10px;
}

.add-margin {
    margin: 30px;
}

/* For footer */
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

.footer-fixed {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

  

  /* buttons */
.btn_small{
    height: 30px;
    width: 130px;
    line-height: 30px;
    margin-top: 10px;
}