{% extends "base.html" %}
{% block content %}

<h3 class="custom-headings left-margin-clearance">Add Biography</h3>

<div class="row">
	<form action="{{url_for('insert_post')}}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s8">
				<input placeholder="E.g. Edward Carson" id="title" type="text" class="validate" name="title">
				<label for="title">Name of biography subject</label>
			</div>
			<div class="input-field col s4">
				<input id="dates" type="text" class="validate" placeholder="yyyy - yyyy" name="dates">
				<label for="dates">Birth year - death year</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<textarea id="article" class="materialize-textarea" name="article"></textarea>
				<label for="textarea1">Article text</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input id="author" type="text" class="validate" name="author">
				<label for="author">Name of author</label>
			</div>
		</div>
		<div class="left-margin-clearance">
			<button class="waves-effect waves-light btn custom-headings" type="submit" name="submit">Submit entry for approval</button>
		</div>
	</form>
</div>


{% endblock %}