{% extends "base.html" %}
{% block content %}

<div class="container">
	<ul class="collapsible">
		{% for post in posts %}
		{% if post.approved == true %}
		<li>
			<div class="collapsible-header custom-headings"><i class="material-icons">person</i>{{post.title}} <br/> {{post.dates}}
				<i class="material-icons">expand_more</i></div>
			<div class="collapsible-body article-body"><span>{{post.article}}</span>
				<div>
					<a href="{{url_for('edit_post', post_id=post._id)}}" class="waves-effect waves-light btn btn_small teal darken-3">Edit post</a>
					<a href="{{url_for('delete_post', post_id=post._id)}}"
                    class="waves-effect waves-light btn btn_small red darken-4">Delete post</a>
				</div>
			</div>

		</li>
		{% endif %}
		{% endfor %}
	</ul>
</div>

{% endblock %}